// Custom mixins
// MIXINS
@mixin box-sizing($box-model) {
    box-sizing: $box-model;
    *behavior: url('../scripts/boxsizing.htc'); // <= IE8
}

@mixin transition($args...) {
    transition: $args;
}

@mixin transform($transforms) {
    transform: $transforms;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    background-clip: padding-box;
}

@mixin box-shadow($horiz, $vert, $blur, $spread, $color) {
    box-shadow: $horiz $vert $blur $spread $color;
}

// box shadow with inset, outset
@mixin double-box-shadow($shadow-1, $shadow-2) {
    box-shadow: $shadow-1, $shadow-2
}

@mixin text-shadow($horizOffset, $vertOffset, $blur, $color) {
    text-shadow: $horizOffset $vertOffset $blur $color;
}

// stripe backgrounds
@mixin stripe-background($color1, $color2, $deg: -45deg, $size1: 1px, $size2: 0, $size3: 10px) {
    background: repeating-linear-gradient( $deg, $color1, $color1 $size1, $color2 $size2, $color2 $size3);
}

@mixin verti-centered ($position: relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

@mixin hori-verti-centered ($position:relative) {
    position: $position;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// ANIMATION
@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }
    @-moz-keyframes $animation_name {
        @content;
    }
    @-o-keyframes $animation_name {
        @content;
    }
    @keyframes $animation_name {
        @content;
    }
}

@mixin animation ($name, $speed, $delay, $function: linear, $count: infinite) {
    animation-delay: $delay;
    animation-duration: $speed;
    animation-fill-mode: forwards;
    animation-iteration-count: $count;
    animation-name: $name;
    animation-timing-function: $function;
    /* this prevents the animation from restarting! */
}

@keyframes slideInLeft {
    0% {
        left: -10%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
}

// FUNCTIONS
// lightening a color
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

// darkening a color
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

// write headings 1-6
@function headings($from:1, $to:6) {
    @if $from==$to {
        @return 'h#{$from}';
    }
    @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}

// PLACEHOLDERS
%button-cta {
    @include box-shadow(0, 1px, 2px, 1px, rgba(0, 0, 0, .15));
    @include text-shadow(0, 2px, 0, rgba(0, 0, 0, 0.25));
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
    border-radius: 0;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: {
        size: 16px;
    }
    line-height: 1;
    margin: 10px auto;
    padding: 10px 16px 8px;
    text: {
        align: center;
        decoration: none;
        transform: uppercase;
    }
    white-space: nowrap;
}

%centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

%vert-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

%ordered-list {
    list-style-position: outside;
    list-style-type: decimal;
    margin-left: 30px;
}

%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

%visuallyhidden {
    border: 0px none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    width: 1px;
}

%reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

%margin-centered {
    margin: {
        left: auto;
        right: auto;
    }
}
